/* start main style */
/* form style */
.form-group {
    margin-bottom: 15px; 
}

.form-label {
    display: block;
    margin-bottom: 5px; 
    font-weight: 600;
}

.form-input, .form-textarea {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ec3078;
    border-radius: 4px;
}

.form-textarea {
    resize: vertical; 
}

.form-button {
    padding: 10px 20px;
    border: 1px solid #ec3078;
    border-radius: 4px;
    background-color: #ec3078;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.form-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #ec3078;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* end main style */

/* for Ipads and bigger devices */
@media (min-width: 768px) {
    /* general style */
    .main {
        margin: 2% 8%;
    }
}
